/* === Estilos globales === */

/* === Temas === */
.light-theme {
/* Fondos principales */
--primary-color: #f5f5f5;  
--second-color: #e5e5e5;    

/* Textos */
--font-color: #212121;
--input-color: #333333;

/* Color de resalto */
--highlight-color: #4f46e5;

/* Estados */
--hover-color: #d4d4d4;     
--error-color: #ef4444;   
--success-color: #22c55e;
}

.dark-theme {
/* Fondos principales */
--primary-color: #212121;
--second-color: #333333;

/* Textos */
--font-color: #ebebeb;
--input-color: #b8b8b8;

/* Color de resalto */
--highlight-color: #818cf8;

/* Estados */
--hover-color: #474747;
--error-color: #ef4444;
--success-color: #22c55e;
}

/* === Estilos globales === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === Estilos del body === */
body {
  background-color: var(--primary-color);
  color: var(--font-color);
  font-family: 'Noto Sans', serif;
}

/* === Estilos enlaces === */
a {
  text-decoration: none;
  color: var(--font-color);
}

ul, ol {
  padding-left: 20px;
}

/* === Estilo general para los botones === */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  font-family: "Noto Sans", serif;
  color: var(--font-color);
  border: none;
  border-radius: 5px;
  font-size: 14px;
  background-color: var(--primary-color);
  user-select: none;
}

/* === Estilos de los toast === */
/* Sobrescribe el color de los toasts de error */
.Toastify__toast {
  background: var(--second-color);
  color: var(--font-color);
}